@model List<DL.MusicStore.Web.Mvc.Areas.Admin.Models.Artist.ArtistSummaryViewModel>
@{
    ViewBag.Title = "Artists";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>
    Artists
    <small>
        <a href="@Url.Action("create", "artist", new { area = "admin" })">
            create new
        </a>
    </small>
</h2>
<div class="card card-block">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Actions</th>
                <th>#</th>
                <th>Name</th>
                <th>Numbers of albums</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var artist in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("edit", "artist", new { area = "admin", id = artist.ArtistId })">
                            edit
                        </a>
                        <span>|</span>
                        <a href="@Url.Action("delete", "artist", new { area = "admin", id = artist.ArtistId })">
                            delete
                        </a>
                    </td>
                    <td>@artist.ArtistId</td>
                    <td>@artist.Name</td>
                    <td>@artist.NumberOfAlbums</td>
                </tr>
            }
        </tbody>
    </table>
</div>

