@model DL.MusicStore.Web.Mvc.Areas.Admin.Models.Album.EditAlbumViewModel
@{
    ViewBag.Title = "Edit Album";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>
    Edit Album
</h2>
<div class="card card-block">
    @using (Html.BeginForm("edit", "album", new { area = "admin" },
        FormMethod.Post, new { @class = "form-edit" }))
    {
        @Html.HiddenFor(m => m.AlbumId)

        <div class="form-group">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Price)
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SelectedStyleId)
            @Html.DropDownListFor(m => m.SelectedStyleId, new SelectList(Model.AvailableStyles, "Key", "Value"),
                "- select - ", new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SelectedArtistId)
            @Html.DropDownListFor(m => m.SelectedArtistId, new SelectList(Model.AvailableArtists, "Key", "Value"),
                "- select - ", new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-info">
            Update
        </button>
        <a href="@Url.Action("index", "album", new { area = "admin" })" class="btn btn-secondary">
            Cancel
        </a>
    }
</div>

